#learn-and-support {
  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-3;
    transition: all 0.3s ease;
    @include media-desktop {
      @include max-width;
      width: 100%;
    }

    .nav-logo {
      a {
        font-size: 2rem;
        font-weight: 1000;
        color: $secondary-color-1;
        transition: all 0.3s ease;
        @include media-desktop {
          @include max-width;
        }

        &:hover {
          zoom: 1.05;
          @include hoverAnimation;
        }
      }
    }
    .nav-list {
      margin: 0 10rem;
      transition: all 0.3s ease;
      display: none;
      @include media-desktop {
        @include max-width;
      }

      @include media-desktop {
        display: flex;
      }
      .nav-link:hover {
        @include hoverAnimation;
      }
    }

    .signup-login {
      display: none;
      @include media-desktop {
        @include max-width;
      }

      @include media-desktop {
        display: flex;
      }
      a {
        &:hover {
          @include hoverAnimation;
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 3rem;
    height: 4rem;
    @include flex;
    flex-direction: column;
    cursor: pointer;
    @include media-desktop {
      display: none;
    }

    .line {
      margin: 0.2rem;
      width: 100%;
      height: 0.2rem;
      background-color: blanchedalmond;
    }
  }

  .container {
    .section-1 {
      @include flex;
      @include media-desktop {
        @include flex;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
      }

      .hero {
        @include sections-common-styling;
        @include media-desktop {
          display: flex;
          flex-direction: row;
          width: 80%;
          justify-content: space-evenly;
          max-width: 1366px;
        }

        .hero-img-wrapper {
          @include media-desktop {
            transform: translate(00%, -30%) scale(1.5);
            z-index: -1;
          }
        }

        .hero-content {
          @include flex;
          @include media-desktop {
            text-align: left;
            width: 40rem;
            height: 100%;
            transform: translateY(-5rem);
          }

          .hero-content-heading {
            @include media-desktop {
              align-self: baseline;
              font-size: 4rem;
              font-weight: 800;
            }
          }

          .hero-content-paragraph {
            padding: 2rem;
            @include media-desktop {
              padding: 0;
              font-size: 1.5rem;
              margin-top: 2rem;
            }
          }
          .section-1_search {
            width: 100%;
            padding: 1rem;
            margin: 3rem;
            box-sizing: border-box;
          }
        }

        .hero-content-btns {
          margin-top: 1rem;
          @include media-desktop {
            margin-top: 3rem;
            display: flex;
            width: 100%;
          }
          li {
            background: $background-gradient-green;
            border-radius: 5rem;
            &:last-child {
              background: $secondary-color-3;
            }
            @include media-desktop {
              border-radius: 2rem;
              margin-right: 1rem;
            }

            .buy-now {
              margin: 1rem;
              display: block;
              padding: 1rem;
              color: $primary-color-1;
              font-weight: 500;
              @include media-desktop {
                padding: 0;
                font-weight: 400;
              }
            }
          }
        }
      }

      .offer {
        display: none;
        @include media-desktop {
          @include flex;
          justify-content: space-evenly;
          @include common-border-radius;
          background: $background-gradient-highlight;
          padding: 2rem;
          width: 25rem;
          height: 25rem;
          color: $primary-color-1;
          transform: translate(-25rem, -15%);
        }

        .offer-heading {
          font-size: 1rem;
          padding: 1rem;
          border-bottom: 1px solid $primary-color-1;
        }

        .offer-logo {
          color: $primary-color-1;
        }

        a {
          @include ancor-common-style;
          background: $secondary-color-3;

          &:hover {
            background: black;
          }
        }

        p {
          span {
            font-size: 8rem;
            font-weight: 1000;
          }
        }

        .offer-footer {
          font-size: 1rem;
        }
      }
    }

    .footer {
      @include sections-common-styling;
      background: $background-gradient-blue;
      padding: 4rem 2rem 2rem 2rem;

      h1 {
        font-size: 2rem;
        font-weight: 1000;
        color: $primary-color-2;
        @include media-desktop {
          text-align: left;
        }
      }
      .footer-nav {
        padding: 2rem;
        color: $primary-color-3;
        opacity: 0.7;
      }

      h4 {
        font-size: 1.4rem;
        padding: 1rem;
        color: $primary-color-3;
      }

      p {
        color: $primary-color-3;
      }
    }
  }
}
