// Colors
$primary-color-1: #f4f6f7;
$primary-color-2: #e9ecee;
$primary-color-3: #c9d1d6;
$secondary-color-1: #3be286;
$secondary-color-2: #0b7e48;
$secondary-color-3: #393a3d;
$background-gradient-yellow: linear-gradient(to right, #087285, #0da5d3);
$background-gradient-yellow: linear-gradient(to right, #946809, #bdba0e);
$background-red: linear-gradient(to right, #a10c14, #e23b3b);
$background-gradient-green: linear-gradient(to right, #0b7e48, #3be286);

//
