@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables";
@import "mixin";
@import "index-html";
@import "feature-html";
@import "price-html";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: $primary-color-1;
}

h1 {
  font-weight: 500;
  color: darken($primary-color-3, 60%);
  font-size: $h1-mobile;
}

h2 {
  color: darken($primary-color-3, 60%);
  font-size: $h2-mobile;
}
h3 {
  color: darken($primary-color-3, 60%);
  font-size: $h3-mobile;
}

h4,
h5,
h6 {
  font-size: $h4-h5-h6-mobile;
}

p {
  font-size: $p-mobile;
}
a {
  padding: 1rem;
  font-size: $p-mobile;
  color: darken($primary-color-1, 10%);
}

svg,
img {
  width: 30rem;
  height: 20rem;
  object-fit: fill;
}
